.template {
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  /* background-color: white;
   */
  background-color: rgba(255, 255, 255, 0.5);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  max-height: 100px;

}

.template img {
  width: 100px;
  border-radius: 5px;
  margin: 0 1%;
}

.template button {
  float: right;
}