.admin {
  min-height: 100vh;
  width: 100%;
  /* background-color: #FFFFFF;  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3%;
  grid-gap: 5%;
}

.roomCode {
  color: #FFFFFF;
}

.startSessionButton {
  text-align: left;
}


@media only screen and (max-width: 900px) {
  .admin {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.buttons-admin {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.srchq {
  display: flex;
}

.srchq div {
  width: 50%;
}

.playerContainer {
  padding-top: 40px;
}