.player {
  display: flex;
  flex-direction: row;
  max-height: 150px;
  align-content: center;
  text-align: left;
  background-color: rgb(169, 169, 169, 0.5);
  color: #FFFFFF;
  border-radius: 10px;
}

.play-skip {
  padding-right: 20px;
  padding-bottom: 5px;
}

.player img {
  width: 150px;
  margin-right: 5%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.player p {
  margin-bottom: 0px;
  font-size: 1.3rem;
}

.player h5 {
  margin-top: 10px;
  font-size: 1.3rem;
}

.svg {
  width: 100%;
}

.svg svg {
  cursor: pointer;
}

.playertemp {
  min-height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;

}

@media only screen and (max-width: 800px) {
  .player p {
    font-size: .95rem;
  }

  .player h5 {
    font-size: .95rem;
  }
}

@media only screen and (max-width: 600px) {
  .player p {
    font-size: .90rem;
  }

  .player h5 {
    font-size: .90rem;
  }
}