.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #003366; */
  background-image: linear-gradient(#de6262, #ffb88c);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  height: 100%;
  width: 100%;
}
